#d3_canvas {
    height: auto;
    width: auto;
    overflow: visible;
    transform: translate(50%, 50%);
    z-index: 1;
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
}

path {
    stroke-width: 0.5;
    transition: opacity 0.3s ease;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hidden {
    opacity: 0;
}

.highlighted {
    stroke: #ffffff; /* ou toute autre couleur */
    stroke-width: 1.5; /* ou toute autre largeur */
    transition: stroke 0.3s ease-in-out;
}