.table-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30%;
  width: 50%;
  z-index: 2;
  overflow: auto;
  scrollbar-width: none; 
  scrollbar-gutter: none; 
  display:none
}

.table-container::-webkit-scrollbar { 
  display: none;
}

table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
}

@media (max-width: 767px) {
  .table-container {
    left: 0;
    right: 0;
    width: auto !important;
  }
  
  table {
    width: 767px !important;
    max-width: none !important;
  }
}


tr.hiddenCell {
    display: none;
}
