.table-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 40vh;
  border: 1px solid #f00;
  z-index: 2;
  overflow: scroll;
}

table {
  width: 100%;
  max-width: 767px;
  margin: 0 0;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
  z-index: 2;
}

.table-container > div.tableTitle {
  background-color: #222;
  text-align: center;
  color: white;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
}

@media (max-width: 767px) {
  .table-container {
    left: 0;
    right: 0;
    width: auto !important;
  }
  
  table {
    width: 767px !important;
    max-width: none !important;
  }
}