.table-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  height: 40dvh;
  overflow: auto;
  z-index: 2;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.table-container > div {
  background-color: #222;
  text-align: center;
  color: white;
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
}

tr {
    background-color: #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .table-container {
    width: 100%;
    left: 0;
    right: 0;
  }
  
  table {
    max-width: none;
  }
}