.svg-container{
position: relative;
left: 230px;
top: 5px;
right: 5px;

}
.information{

    position: relative;
    left: 5px;
    top: -650px;
    width: 400px;
    height: 610px;
    background-color: rgb(12,150,100);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.information1{

    position: relative;
    left: 100px;
    top: -600px;
    width: 1200px;
    height: 500px;
    background-color: rgb(12,150,100);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.bouton{
    position: relative;
    left: 5px;
    top: -650px;
    width: 400px;
    height: 610px;
    background-color: rgb(12,150,100);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}