.svg-container{
position: relative;
left: 200px;

}
.information{

    position: relative;
    left: 5px;
    top: -650px;
    width: 350px;
    height: 610px;
    background-color: rgb(12,150,100);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.information1{

    position: relative;
    left: 180px;
    top: -1165px;
}