body {
    --bgImage: url('images/beer.jpg');
    --bgcolor: #000;
    --color1: rgb(32, 32, 32, 1);
    --color2: #444;
    --textcolor: #fff;
    --navigationbarheight: 5rem;
    margin: 0;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font: 1.5em Roboto, sans-serif;
}

/* navigation bar ---------------------------------------- */
.navigation.navmenu {
    height: var(--navigationbarheight);
    width: var(--navigationbarheight);
    border-radius: 0.5em;
    position: absolute;
    left: 50%;
    top: 1em;
    font-size: 1.3em;
    text-align: center;
    white-space: nowrap;
    transform: translate(-50%, 0);
    display: inline-block;
    background-color: var(--color1);
    transition: all 0.2s;
    overflow: hidden;
}
.navigation.hamburger {
    width: var(--navigationbarheight);
    height: var(--navigationbarheight);
}
.navigation.navmenu.open {
    width: 7.5em;
    height: 11em;
    border-radius: 1em;
}
.navigation.item {
    margin: 0.5em;
    height: 25%;
}
.line {
    transition: all 0.2s;
    width: 5px
}
.line.open.top {
    width: 6.7px;
    transform-origin: -2px -2px;
    transform: rotate(45deg);
}
.line.open.middle {
    width: 1px;
    x: -0.5px;
}
.line.open.bottom {
    width: 6.7px;
    transform-origin: -2px 2px;
    transform: rotate(-45deg);
}

/* Cards ------------------------------------------------- */
.cardContainer {
    display: flex;
    wrap: nowrap;
    width: 100%;
    overflow-x: 0;
    overflow: auto;
    flex-direction: row;
}
.card {
    --closedWidth: calc(100dvw / 10);
    --openWidth: calc(100dvw / 10 * 6);
    position: relative;
    width: var(--closedWidth);
    height: 30em;
    margin: 0.5em;
    border-radius: var(--closedWidth);
    background: var(--bgImage);
    background-size: auto 120%;
    background-position: center;
    overflow: hidden;
    box-shadow: inset 0px 0px 1em var(--color1);
    transition: all 0.5s;
}
.card.active {
    width: var(--openWidth);
}
.cardText {
    position: absolute;
    width: var(--openWidth);
    opacity: 0;
    top: 4em;
    padding: 3em;
    transition: all 0.5s ease;
    transition-delay: 0s;
}
.card.active .cardText {
    opacity: 1;
    top: 5em;
    transition-delay: 0.3s;
}
.cardTitle {
    position: absolute;
    width: var(--openWidth);
    height: 100%;
}
.cardTitle h3 {
    font-size: 2em;
    transform-origin: left top;
    transform: rotate(90deg) translate(0, calc(var(--closedWidth) / -2 - 0.5em));
    transition: all 0.5s ease;
}
.card.active .cardTitle > h3 {
    font-size: 3em;
    left: 3em;
    transform: rotate(0deg) translate(1em, 0);
}