#svg-container {
    width: 100%;
}

#svg-canvas-container {
/*    position: absolute;*/
    top: 0pt;
    width: 100%;
}

body {
    width: 100dvw;
}

table {
    z-index: 999;
}

.hidden {
    display: none;
}

.svgPlanet {
    fill: #7f7;
}

.selectedPlanet {
    fill: #77f;
    stroke: #77f;
    stroke-width: 0.5px;
}