 div {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
  }
    .outtip {
        position: absolute;
        
    }
    .imtip {
    
    position: absolute;
    display: inline;
    margin-left: 100px;
    margin-top: -300px;
}
 
  

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

