img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: 1px solid #f00;
    z-index: 1;
}
.controls {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    z-index: 2;
}